@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color:#30608a ;
    font-family: 'Archivo Black', sans-serif;
}

.container{
    height: 100vh;
    width: 100vw;
    border: 2px solid black;
    background-color: #34495e;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: relative;
    overflow: hidden;
}
.play-container{
    /* display: none; */
    height: 100vh;
    width: 100vw;
    border: 2px solid black;
    background-color: #34495e;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: relative;
    overflow: hidden;
}
.play-container .play-bg img{
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0rem;
    z-index: -1;
    opacity: 0.1;
    object-fit: cover;
}

.container .bg video{
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0rem;
    z-index: -1;
    opacity: 0.1;
    object-fit: cover;
}
.container .coins,.play-container .coins{
    margin:1rem 2rem;
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
}
.container .coins a,.play-container .coins a{
    text-decoration: none;
}
.container #coinsJs,.play-container #coinsJs{
    background-color: #EF5D5D;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 7rem;
    height: 2.5rem;
    color: white;
    border: 1px solid black;
    border-radius: 6px;
    transition: all 0.2s ease-in;
}
.container .coins p,.play-container .coins p{
    background-color: #EF5D5D;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 1.5rem;
    color: white;
    border: 1px solid black;
    border-radius: 6px;
    transition: all 0.2s ease-in;
}
.container .coins p:hover,.play-container .coins p:hover{
    transform: scale(1.09);
    font-size: 1.1rem;
    cursor: pointer;
}
.container .coins span,.play-container .coins span{
    margin-right: 5px;
}

.container .text,.play-container .text{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: 'Honk', system-ui;
    color: white;
}
.container .text i,.play-container .text i{
    height: 1.4rem;
    width: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    font-size: 0.9rem;
    background-color: greenyellow;
    border-radius: 50%;
    color: black;
    transform: rotate(-10deg);
    position: relative;
    animation: coin 3s ease-in-out infinite;
}

@keyframes coin {
    0%{
        top: 10px;
    }
    50%{
        top: -10px;
    }
    100%{
        top: 10px;
    }
}
.container .game-container{
    height: 90vh;
}

.container .btn{
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.container .btn button{
    height: 3rem;
    width: 8rem;
    background-color: #EF5D5D;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    outline: none;
    font-size: 1.2rem;
    font-family: 'Archivo Black', sans-serif;
    transition: all 0.2s ease-in;
}
.container .btn button:hover{
    transform: scale(1.07);
    cursor: pointer;
    font-size: 1.4rem;
}

.container .character,.play-container .character{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.container .character img,.play-container .character img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: relative;
    left: 4rem;
}
.play-container .input{
    position: relative;
    bottom:8rem;
    width: 100%;
    display: flex;
    justify-content: center;
}
.play-container .input input{
    width: 20rem;
    height: 100%;
    padding: 0.5rem 1rem;
    border: 1px solid black;
    border-radius: 10px;
    outline: none;
    background-color: #00d9ff2c;
    color: white;
    transition: all 0.2s ease-in;
}
.play-container .input input::placeholder{
    color: #fff;
}
.play-container .input input:hover{
    transform: scale(1.05);
}
.play-container .input input:focus{
    transform: scale(1.15);
}

.container .play-bg img{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.1;
    object-fit: cover;
    z-index: -100;
}

.container .play-btn,.play-container .play-btn{
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: 6rem;
}
.container .play-btn button,.play-container .play-btn button{
    height: 3rem;
    width: 8rem;
    background-color: #EF5D5D;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in;
    font-size: 1.2rem;
}
.container .play-btn button:hover,.play-container .play-btn button:hover{
    transform: scale(1.07);
    cursor: pointer;
    font-size: 1.4rem;
}


.container .game-name{
    height: 10%;
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
}
.container .game-btn{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40%;
    width: 6rem;
    margin:0 3.5rem;
}
.container .game-btn button,#coinGG{
    width: 100%;
    height: 2rem;
    background-color: #be3f3f96;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in;
    font-size: 1rem;
}
.container .game-btn button:hover,.container #coinGG:hover{
    transform: scale(1.07);
    cursor: pointer;
    font-size: 1.1rem;
}
#coinGG{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
}
#coinGG span{
    margin: 0 5px;
}
.container .game-character,.play-container .game-character{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 6rem;
    z-index: -1;
}
.container .games{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.container .games button{
    height: 5rem;
    width: 4rem;
    background-color: #EF5D5D;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-in;
    font-size: 1rem;
    display: inline-grid;
    align-items: center;
}
.container .games button:hover{
    transform: scale(1.07);
    cursor: pointer;
    font-size: 1.1rem;
}


.mines-container,.dragon-container{
    display: none;
    height: 90vh;
    width: 20rem;
    border: 2px solid black;
    background-color: #34495e;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: relative;
    overflow: hidden;
}
.mines-container .coins{
    margin:1rem 2rem;
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
}
.mines-container .coins #coinsJs{
    background-color: #EF5D5D;
    border: none;
    outline: none;
    height: 1.5rem;
    width: 4rem;
    color: white;
    border: 1px solid black;
    border-radius: 6px;
}

.mines-game{
    height: 50%;
    width: 25%;
    margin: auto;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0.5rem;
    transform-style: preserve-3d;
    perspective: 500px;
}
.mines-game .mines-game-box{
    position: relative;
    background-color: #EF5D5D;
    height: 15%;
    width: 15%;
    margin: 0 0.2rem;
    cursor: pointer;
    border-radius: 10px;
    transform: rotateY(180deg) !important;
    font-size: 0rem;
    transition: 0.25s , font-size 0ms;
}
.mines-game .mines-game-box .mines-game-box-open{
    transform: rotateY(0deg);
}
.mines-game .mines-game-box::after{
    content: "";
    position: absolute;
    inset: 0;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #253545;
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}
.mines-game .mines-game-box-open::after{
    transform: rotateY(180deg);
}
.mines-game .mines-game-box-open{
    font-size: 1.3rem;
    filter: invert(1);    
    display: flex;
    justify-content: center;
    align-items: center;
    animation: boxOpen 0.5s 1 ease;
}

@keyframes boxOpen {
    0%{
        scale: 1;
    }
    50%{
        scale: 1.1;
    }
    100%{
        scale: 1;
    }
}

.mines-game .bomb{
    filter: invert(0);
}

.opacity{
    opacity: 1 !important;
}

.mines-btn,.dragon-btn{
    width: 30%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-evenly;
    color: aliceblue;

}
.mines-btn .mines-select p,.mines-btn .mines-bet p,.dragon-btn .dragon-bet p{
    font-size: 0.7rem;
    margin: 0.4rem 0;
}
.mines-btn .mines-select,.mines-btn .mines-bet,.dragon-btn .dragon-bet{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mines-btn .mines-select select{
    outline: none;
    border: none;
    height: 1.5rem;
    color: white;
    background-color: #ef5d5d81;
    cursor: pointer;
}
.mines-btn .mines-bet input,.dragon-btn .dragon-bet input{
    width: 50%;
    height: 1.5rem;
    border: none;
    outline: none;
    background-color: #ef5d5d89;
    color: white;
    padding: 0 0.2rem;    
}
.mines-btn button,.dragon-btn button{
    color: aliceblue;
    background-color: #ef5d5d77;
    border: 1px solid black;
    outline: none;
    width: 7rem;
    height: 2rem;
    position: relative;
    cursor: pointer;
    top: 1.3rem;
    font-size: 1rem;
}
.mine-back a,.dragon-back a{
    display: flex;
    justify-content:center ;
    width: 100%;
    text-decoration: none;
}
.mine-back button,.dragon-back button{
    width: 30%;
    height: 2.5rem;
    position: relative;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
    background-color: #EF5D5D;
    color: white;
    cursor: pointer;
    margin-top: 1rem;
}




.dragon-game{
    height: 50%;
    width: 25%;
    margin: auto;
    background-color: #253545;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0.5rem;
}









.container .touchpad{
    height: 15vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.598);
    font-size: 0.8rem;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container .touchpad p{
    margin: 0 1rem;
}

@media screen and (max-width:768px) {
    .container{
        height: 100%;
        width: 100%;
    }
    .container .game-btn {
        margin: 0 0.5rem;
    }
    .mines-game,.dragon-game{
        width: 45%;
    }
    .mines-btn,.dragon-btn{
        width: 80vw;
    }
    .mine-back button,.dragon-back button{
        width: 60%;
    }
}
@media screen and (max-width:425px) {
    .mines-game,.dragon-game{
        width: 90%;
    }
}